/******************************************************************************\
|                                                                              |
|                                  custom.scss                                 |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2024, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

.kitty.figure {
	margin: auto !important;
	padding-bottom: 0;

	img {
		display: inline-block;
		height: 200px; 
		padding: 15px; 
		border-radius: 25%; 
		margin: auto;
	}
}

.kitties {
	width: 100%;
	max-width: 100% !important;
	height: calc(100% - 50px);
	margin: 0 auto !important;

	table {
		width: 100%;
		height: 100%;
		overflow: hidden;

		tr {
			td {
				position: relative;

				p {
					position: absolute;
					top: 0;
					color: white
				}

				img {
					width: auto !important;
					height: auto !important;
					width: 50% !important
				}
			}
		}

		&.outlined {
			tr {
				&:not(:first-child) {
					td {
						border-top: 2px solid black
					}
				}

				&:not(:last-child) {
					td {
						border-bottom: 2px solid black
					}
				}

				td {
					&:not(:first-child) {
						border-left: 2px solid black
					}

					&:not(:last-child) {
						border-right: 2px solid black
					}
				}
			}
		}
	}
}

.welcome {

	.cloud {
		filter: blur(3px) drop-shadow(rgba(0, 0, 0, 0.25) 5px 5px 10px);
	}

	.kitty.section {
		padding: 0;

		.col-sm-6 {
			padding: 30px 65px;
		}

		.colored {
			color: white;

			a {
				color: white;
			}
		}

		.figure {
			border-radius: 15px;
		}
	}

	.overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: hidden;

		.layer {
			position: absolute;
			width: 100%;
			height: 100%;
			overflow: visible;

			img {
				position: absolute;
				transform: translateZ(0);
			}
		}
	}
}

/*
body:not(.binary)
	.page {
		 .contents {
		 	.section:not(.colored):not(.primary):nth-child(odd) {
		 		background-color: hsla(200, 90%, 50%, 15%) !important;
		 	}
	}
}
*/

body:not(.dark) {
	.welcome {
		.overlay {
			.moon, .stars {
				display: none;
			}
		}
	}
}

.dark {
	.welcome {
		.overlay {
			.sun {
				display: none;
			}

			.layer:not(.moon):not(.stars) img {
				filter: brightness(0.5);
			}
		}
	}
}

/*
 * animation styles
 */

.overlay 
	.layer {
		animation-duration: 10s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
}